<% include partials/top %>

<div class="container">

  <h1>View Item</h1>

  <table class="table">
    
    <thead class="thead-dark">
      
      <tr>
        
        <th><!-- Item Id --></th>
        <th><!-- Name --></th>

      </tr>

    </thead>

    <tbody>

      <!-- <tr>
      
        <th>Item Id</th>
        <th><%= item._id %></th>

      </tr> -->

      <tr>
      
        <th>Item Name</th>
        <th><%= item.name %></th>

      </tr>

      <tr>
      
        <th>Model Number</th>
        <th><%= item.model %></th>

      </tr>

      <tr>
      
        <th>Serial Number</th>
        <th><%= item.serial %></th>

      </tr>

    </tbody>

  </table>

  <a href="/items/<%= item._id %>/edit/" class="btn btn-outline-dark btn-block">Edit Item</a>

  <form class="mt-2" id="delete" action="/items/<%= item._id %>?_method=DELETE" method="POST">

    <button type="submit" class="btn btn-block btn-outline-danger">Delete Item</button>

  </form>

</div>



<% include partials/bottom %>
